::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: rgba(24, 24, 24, 0);
}
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb:hover {

}
body {
    background-color: #000000;
    color: white;
    font-family: Calibri, serif;
    margin:0;
}
footer{
    padding: 0 50px;
    margin-top: 100px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
}
footer h4{
    font-size: 24px;
    font-family: VT323, serif;
}
footer h5{
    font-size: 18px;
    font-family: "Nova Mono", serif;
}
button {
    font-family: VT323, serif;
    letter-spacing: 10px;
    border-radius: 100%;
    position: absolute;
    border: none;
    box-shadow: inset -5px -5px 40px black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #ececec;
}
button:hover{
    animation: h2-glow 3s infinite;
}
h1 {
    color: #ecececaa;
    letter-spacing: 5px;
    font-family: VT323, serif;
    animation: h1-glow 5s infinite;
}
h3 {
    text-align: center;
}
h4 {
    font-size: 36px;
    font-family: VT323, serif;
    text-align: center;
    letter-spacing: 5px;
}
hr {
    width: 300px;
}
p{
    font-family: "Nova Mono", serif;
    font-size: 24px;
}

#landing-page-header{
    width: 75%;
    height: 800px;
    left: 12.5%;
    top: -200px;
}
#landing-page-header h1{
    font-size: 200px;
}
#sub-page-header{
    width: 40%;
    height: 400px;
    left: 30%;
    top: -75px;
}
#sub-page-header h1{
     font-size: 100px;
 }
#command-img-sub{
    background-color: #14006f;
    top: 350px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#map-img-sub{
    background-color: #14006f;
    right: 65%;
    top: 200px;
}
#about-img-sub{
    background-color: #14006f;
    left: 65%;
    top: 200px;
}
#command-img-landing{
    background-color: #14006f;
    top: 700px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#map-img-landing{
    background-color: #14006f;
    right: 75%;
    top: 475px;
}
#about-img-landing{
    background-color: #14006f;
    left: 75%;
    top: 475px;
}
#about{
    grid-column: 1 / span 2;
    text-align: center;
}
#installation {
    grid-column: 1 / span 2;
    text-align: center;
}
#visuals{
    grid-column: 1 / span 2;
    text-align: center;
}
.map{
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-gap: 50px;
}
.map .node{
    height: 200px;
    width: 200px;
    position: initial;
}
.map .line{
    background-color: white;
    box-shadow: white 0 0 10px;
}
.map .map-msg{
    grid-column: 2 / span 3;
    grid-row: 2;
}
.map #Lunar\ Base{
    background-color: #0c6501;
    grid-column: 3;
    grid-row: 3;
}
.map #Asteroid\ Belt{
    background-color: #00537f;
    grid-column: 1;
    grid-row: 3;
}
.map #Solar\ Storm{
    background-color: #ff0000;
    grid-column: 5;
}
.map #Caldoni\ I{
    background-color: #00537f;
    grid-column: 1;
    grid-row: 1;
}
.map #Caldoni\ VII{
    background-color: #00537f;
    grid-column: 5;
    grid-row: 1;
}
.map #Tilani\ Patrol{
    background-color: red;
    grid-column: 3;
    grid-row: 5;
}
.map #Tilani\ Prime{
    background-color: red;
    grid-column: 3;
    grid-row: 7;
}
.map #line45{
    width: 800px;
    height: 5px;
    grid-column: 2 / span 3;
}
.map #line53{
    width: 5px;
    height: 200px;
    grid-column: 5;
}
.map #line31{
    width: 100px;
    height: 5px;
    grid-column: 4;
    grid-row: 3;
}
.map #line12{
    width: 100px;
    height: 5px;
    grid-column: 2;
    grid-row: 3;
}
.map #line16{
    width: 5px;
    height: 100px;
    grid-column: 3;
    grid-row: 4;
}
.map #line24{
    width: 5px;
    height: 200px;
    grid-column: 1;
    grid-row: 2;
}
.map #line67{
    width: 5px;
    height: 100px;
    grid-column: 3;
    grid-row: 6;
}
.sub-page-main{
    margin: 600px 100px 0 100px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-gap: 100px;
    justify-content: space-evenly;
    align-content: center;
}
.sub-page-main h2{
    font-size: 70px;
    font-family: VT323, serif;
}
.sub-page-main h3{
    font-size: 50px;
    font-family: VT323, serif;
}
.sub-page-main img{
    margin: 50px 0;
    border: solid white 2px;
}
.caption{
    margin-bottom: 100px;
    font-style: italic;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Images/space.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: absolute;
    z-index: -1;
    border-radius: 0 0 800px 800px;
    box-shadow: inset 0 0 500px #000000;
}
.landing-button{
    width: 250px;
    height: 250px;
    font-size: 40px;
}
.sub-nav-button{
    width: 150px;
    height: 150px;
    font-size: 35px;
}
.info-button {
    border-radius: 75px;
    font-size: 24px;
    font-family: "Nova Mono",serif;
    font-weight: bold;
    width: 250px;
    height: 75px;
    position: initial;
}
.title{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-column: 1 / span 2;
    text-align: center;
}
.movement{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
    grid-gap: 75px;
}
.movement button{
    background-color: #976f0d;
}
.movement h3{
    grid-column: 1 / span 2;
}
.help{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-gap: 75px;
    grid-column: 1 / span 2;
 }
.help button{
    background-color: #6c0b0b;
}
.interaction {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    align-content: center;
    grid-gap: 75px;
}
.interaction h3{
    grid-column: 1 / span 2;
}
.interaction button {
    background-color: #4e5c0b;
}
.information {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-content: center;
    grid-gap: 75px;
}
.information h3{
    grid-column: 1 / span 2;
}
.information button{
    background-color: #632121;
}
.info-window{
    background-color: rgba(0, 10, 29, 0.99);
    width: 40%;
    height: 0;
    border-radius: 100% 100% 0 0;
    position: fixed;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    text-align: center;
    z-index: 2;
    left: 30%;
    bottom: 0;
    box-shadow: 0 0 50px #000000;
}
.info-window #close{
    font-size: 40px;
}
.info-window #command{
    font-size: 24px;
    font-family: "Courier New",serif;
    font-weight: bold;
}
.info-window #description{
    font-size: 24px;
    font-family: "Courier New",serif;
}
@keyframes h1-glow {
    0% {text-shadow: 0 0 10px #00bbff;}
    25% {text-shadow: 0 0 30px #002aff;}
    50% {text-shadow: 0 0 50px #5e00ff;}
    75% {text-shadow: 0 0 30px #002aff;}
    100% {text-shadow: 0 0 10px #00bbff;}
}
@keyframes h2-glow {
    0% {text-shadow: 0 0 10px #ffffff; letter-spacing: 10px;}
    25% {text-shadow: 0 0 50px #6c6c6c; letter-spacing: 13px;}
    50% {text-shadow: 0 0 70px #ffffff; letter-spacing: 10px;}
    75% {text-shadow: 0 0 50px #6c6c6c; letter-spacing: 13px;}
    100% {text-shadow: 0 0 10px #ffffff; letter-spacing: 10px;}
}
